html{
    background-color: #C5C2BF;
}



body{
    margin: 70px;
    background-color: white;
    font-family: 'PT Sans Narrow', sans-serif;

}

header{
    background-color: #F1C3C4;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 220px;
}




.foto_cv{
    position: absolute;
    width: 150px;
    height: 150px;
    top: -0.5%;

}



.categoria{
    color: black;
    text-decoration: none;
    font-size: larger;
}

.lista_categorias{
    background-color: #A9BDCB;
    height: 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;


}




















h1{
    font-size: xxx-large;
}


.contendor{
    background-color: grey;
}

.categoria:hover{
    font-weight: bolder;
    color: black;
}

.acerca_de{
    margin-left:80px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.proyectos{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
} 

.proyecto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.imagen_proyecto{
    border: 2px solid grey;
    width: 600px;
    margin-right: 40px;
    margin-top: 20px;

}


.titulo_proyecto{
    font-size: x-large;
}


.redes_sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.red_social{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flecha{
    position: fixed;
    bottom: 20px;
    right: 20px;

}


.educacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.estudios{
    display: flex;
    flex-direction: column;
}



.html{
    display: flex;
    justify-content: center;
}


.certificaciones{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certificacion{
    font-size: large;
    color: rgb(146, 60, 60);
    text-decoration: none;
    font-weight: bold;
}

.certificacion:hover{
    color: black;
}

.progress-bar{
    background-color: pink;
}

.habilidades{
    display: grid;
    grid-template-areas: 
    "foto habilidad1 habilidad2"
    "foto habilidad3 habilidad4 "
    "foto habilidad5 habilidad6"
    "foto habilidad7 habilidad8"
    "foto habilidad9 habilidad10";
    justify-content: center;
    align-items: center;
    grid-column-gap: 10px;
    
}

.imagen_habilidades{
    grid-area: foto;
}

.HTML{
    grid-area: habilidad1;
}

.CSS{
    grid-area: habilidad2;
}

.BOOTSTRAP{
    grid-area: habilidad3;
}

.SASS{
    grid-area: habilidad4;
}

.GIT{
    grid-area: habilidad5;
}

.GITHUB{
    grid-area: habilidad6;
}

.PYTHON{
    grid-area: habilidad7;
}

.C{
    grid-area: habilidad8;
}

.habilidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.imagen_red_social{
    width: 70px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {

    body{
        margin: 0;
        margin-top: 65px;
    }

    nav{
        display: none;
    }

    .foto_cv{
        position: absolute;
    }


    .categorias{
        display: none;
    }

    .categoria{
        background-color: #A9BDCB;
    }

    .acerca_de{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 0;
    }

    .imagen_acerca_de{
        width: 300px;
    }

    .educacion{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 20px;
    }
    .habilidades{
        display: flex;
        flex-direction: column;
    }

    .proyectos{
        margin: 20px;
    }

    .proyecto{
        display: flex;
        flex-direction: column;
    }

    .imagen_proyecto{
        width: 300px;
        margin-bottom: 20px;
    }

    .flecha{
        bottom: 10px;
        right: 0px; 
        width: 100px;
    }

    .redes_sociales{
        display: flex;
        flex-direction: column;
    }

    .imagen_red_social{
        width: 50px;
        margin-bottom: 5px;
    }

    .delaika{
        margin-left: -60px;
    }

    .barchuk{
        margin-left: -30px;
    }

    .boniata{
        margin-left: 15px;
    }

    
}


